.git
.gitignore
README.md

node_modules
vendor

src/node_modules
src/vendor

src/storage/logs
src/storage/framework/cache
src/storage/framework/sessions
src/storage/framework/views

src/bootstrap/cache/\*.php

.env
.env.\*

docker-compose.override.yml
